body {
  font-family: 'Source Sans Pro', sans-serif;
  padding-left: 275px;
  background-color: #353535;
}
/*============sidebar css============*/

/* profile card */
.profile {
  background-color: #252525;
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
}

.profile img {
  width: 60px;
  height: 60px;
  border-color: white;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
}

.profile p {
  color: white;
  padding-top: 8px;
}

/* main items card */
.sidenav {
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar_item {
  background-color: #252525;
  height: 100vh;
  padding-top: 1rem;
  align-items: center;
}

.sidebar_item ul {
  list-style: none;
  padding: 0px;
}
.sidebar_item li {
  color: white;
  font-size: 16px;
  padding: 5px 0px 6px 8px;
}

.sidebar_item li:hover {
  background-color: #2f3032;
  cursor: pointer;
}

/*============body css============*/
.body-icons {
  padding-top: 45vh;
}
.icon {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background: #2f3032;
  border-radius: 50%;
}
.icon svg {
  padding: -4px;
  margin-top: 39px;
  font-size: 24px;
  color: #fff;
}

.icon img {
  padding: -4px;
  margin-top: 39px;
  font-size: 24px;
  color: #fff;
}

.icon_lebel {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding-top: 5px;
}
